* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
}

.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Add padding for better spacing on smaller screens */
    margin-bottom: 1rem;
}

.logo {
    flex: 1; /* Allow the logo to take available space in the middle */
    text-align: center; /* Center the logo within its container */
    margin-top: 10px;
    object-fit: contain;
}

.user-info {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
}

.cart {
    margin-right: 10px; /* Add margin for better spacing */
    display: flex;
    align-items: center;
}

.cart i {
    margin-right: 5px;
}

.cart p {
    font-weight: bold;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.name {
    margin-right: 10px; /* Add margin for better spacing */
}

/* Media query for smaller screens (adjust the max-width as needed) */
@media (max-width: 768px) {
    .logo {
        text-align: center; /* Center the logo on smaller screens */
    }
    
    .user-info {
        flex-direction: column; /* Stack user info vertically on smaller screens */
        align-items: center;
    }

    .cart {
        margin: 10px 0; /* Adjust margin for better spacing on smaller screens */
    }

    .cart i {
        margin-right: 5px;
    }

    .cart p {
        font-weight: bold;
    }

    .name {
        margin: 10px 0; /* Adjust margin for better spacing on smaller screens */
    }

    .top_bar {
        margin-top: 20px;
    }
}

.navigation_bar {
    display: flex;
    justify-content: center; /* Center the navigation bar horizontally */
    align-items: center;
    min-height: 8vh;
    margin-bottom: 1rem;
}

nav {
    display: flex;
    align-items: center;
    width: 100%; /* Occupy full width of the container */
    padding: 0 20px; /* Add horizontal padding for better spacing */
    justify-content: center;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    max-width: 60%;
    list-style: none;
}

.nav_links a {
    color:black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
}


@media (max-width: 1050px) {
    
    
    .nav_links {
        max-width: 100%; /* Occupy full width on smaller screens */
    }

    .nav_links a {
        padding: 10px; /* Adjust padding for better spacing on smaller screens */
    }
}

@media (max-width: 768px) {
    .nav_links {
        max-width: 100%; /* Occupy full width on smaller screens */
    }

    .nav_links a {
        padding: 10px; /* Adjust padding for better spacing on smaller screens */
    }
}

@media (max-width: 400px) {
    .nav_links {
        max-width: 80%; /* Occupy full width on smaller screens */

    }

    .nav_links a {
        padding: 20px; /* Adjust padding for better spacing on smaller screens */
        font-size: 40px;
    }
}

#link:hover {
    text-decoration: underline;
}

/*Hero section styles */

.hero_section {
    display: flex;
    justify-content: center;
    background-color: #f5ebde;
    max-height: 480px;
    max-width: 100%;
}


.hero_container {
    max-height: 480px;
    overflow: hidden;
    display: inline-block;
}

.text_left {
    margin-right: 10%;
}

.text_left p {
    font-size: 20px;
    margin-top: 15px;
    line-height: 26px;
}

.text_left h2 {
    margin-top: 20%;
}

.text_left h1 {
    margin-top: 10%;
}

.text_left button {
    margin-top: 40px;
    background-color: rgb(245, 235, 222);
    border-color: black;
    padding: 12px 28px;
    font: inherit;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    border-width: 1.8px;
}

.text_left button:hover {
    background-color: black;
    color:white;
}

@media (max-width: 1330px) {
    .text_left {
        margin-left: 10%;
        margin-top: 2%;
    }

    .hero_container {
        max-width: 40%;
        height: auto;
    }

    .hero_section {
        max-width: 100%;
    }
}

/* New In Section Style */

.new_in_section {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: left;
    padding-top: 2%;
    margin-inline: auto;
    max-width: 70vw;
}


.product_section {
    display: flex;
}


.title {
    display: inline-block;
    margin-right: 30px;
}

.title p {
    margin-top: 10px;
    font-size: 20px;
}

.see_more_button {
    margin-top: 20px;
}

.see_more_button button {
    background-color: white;
    border-color: black;
    padding: 10px 26px;
    font: inherit;
    font-size: 18px;
    cursor:pointer;
    border-radius: 10px;
    border-width: 1.6px;
}

.see_more_button button:hover {
    background-color: black;
    color:white;
}
.product_image {
    display: flex;
    object-fit: fill;
    max-width: 50px;
}

#product_set {
  margin: 5px;
}

.product_set {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.product_set h3 {
    margin: 10px 0;
    font-size: 18px;
}

.product_set p {
    margin: 10px 0;
    font-size: 16px;
}

.product_set p:last-child {
    font-weight: bold;
}

#product_set img {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

#product_set img:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.2);
}

.new-in-description {
    max-width: 200px;
    position: absolute;
    opacity: 0;
    margin-top: 10px;
}

.new-in-description button {
    border: none;
    background-color: white;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 0;
    font-size: 0.8em;
    text-decoration:underline;
    color:#D4AFAF
}

.new-in-description button:hover {
    cursor: pointer;
}

.new-in-description-showed {
    position: static;
    opacity: 1;
}

@media (max-width: 1330px) {
    .new_in_section {
        display: flex;
        flex-direction: column; /* Stack the content vertically on smaller screens */
        align-items: center; /* Center content horizontally */
        text-align: center;
        padding-top: 2%;
    }
    
    .product_section {
        display: flex;
        justify-content: center; /* Center product items horizontally */
        flex-wrap: wrap; /* Allow product items to wrap to the next row on smaller screens */
    }
    
    .product_set {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 200px;
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
        margin: 5px; /* Add margin for spacing between product items */
    }
    
    .product_set h3 {
        margin: 10px 0;
        font-size: 18px;
    }
    
    .product_set p {
        margin: 10px 0;
        font-size: 16px;
    }
    
    .product_set p:last-child {
        font-weight: bold;
    }
    
    .product_set img {
        max-width: 100%;
        height: auto;
    }

    .title {
        margin-bottom: 10px;
    }
}

/*Collection Section Style*/
.collection_section {
    margin-inline: auto;
    max-width: 70vw;
}
.collection_section h1 {
    text-align: center;
}

.collection_photo {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 100px;
    transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}

.image_container:hover {
    transform: scale(1.1); /* Zoom in the image when hovered */
}

.image_container {
    margin: 50px;
    cursor: pointer;
    margin-bottom: 0px;
}

figure {
    text-align: center;
    font-size: larger;
    margin-top: 0px;
    font-weight: bold;
}

figcaption {
    margin-top: 10px;
}

@media (max-width: 1250px) {
.collection_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2%;
}

.image_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
}

/* Style Blog Section */

.blog_title_section {
    text-align: center;
}

.blog_title_section p {
    margin-top: 10px;
    font-size: 20px;
}

.blogs_sectiom h1 {
    text-align: center;
}
.blogs_section {
    display: flex;
    flex-direction: column; /* Stack the content vertically on smaller screens */
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    margin-inline: auto;
    max-width: 70vw;
}
.blog {
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid with 2 columns on smaller screens */
    grid-gap: 5%;
    justify-content: center;
   
}

.blog .thumbnail {
    object-fit: contain;
    text-align: center;
}

.blog_post {
    background-color: #f5ebde;
    margin: 10px;
    padding: 12px;
}

.blog_content {
    margin-top: 20px;
    line-height: 29px;
}

.blog_content h3 {
 font-size: 25px;
 padding: 5px;   
}

.blog_content p {
    font-size: 18px;
}

.blog_post a {
    color: grey;
    font-weight: 500;
    font-size: 110%;
}

/* Media query for smaller screens (max-width: 600px) */
@media (max-width: 600px) {
    .blog {
        grid-template-columns: repeat(1, 1fr); /* 1 column */
    }
}

hr {
    border-bottom: 1px solid #D4AFAF;
    margin: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*Style Newsletter*/

.newsletter_section {
    text-align: center;
    line-height: 40px;
}

.newsletter_section button {
    background-color: white;
    border-color: black;
    padding: 0px 15px;
    font: inherit;
    font-size: 18px;
    cursor:pointer;
    border-radius: 10px;
    border-width: 1.6px;
}

.newsletter_section p {
    font-size: 20px;
}

.newsletter_section button:hover {
    background-color: black;
    color:white; }

.newsletter_section label {
    font-size: 20px;
    padding-right: 10px;
}

.newsletter_section input[type="email"] {
    padding: 10px;
    width: 25%;
    font-size: 16px;
    border: 1px solid #D4AFAF;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
}

/*Style Footer*/

footer {
    background-color: #f5ebde;
    padding: 30px;
    margin-top: 30px;
}

footer p {
    font-size: 18px;
    line-height: 20px;
    margin: 10px;
}

footer img {
    padding-left: 10px;
}